<!-- partial for header -->

<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <h3>
        SocialBook
    </h3>    

    
    <div>
        <% if(locals.user) { %>
            
            <img src="<%= user.avatar%>" alt="<%= user.first_name %>" width="100">
            <!-- for user profile page -->
            <span>
                <a href="/user/profile/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
            </span>
            <!-- for usr post page -->
            <span>
                <a href="/posts/user_posts"> Post</a>
            </span>
            <!-- for signing out user -->
            <span>
                <a href="/user/sign-out">
                    <button type="button">Sign Out</button>
                </a>
            </span>
        <% }else{ %>
            <!-- for login page -->
            <span>
                <a href="/login/user-login">
                    <button type="button">Login</button>
                </a>
            </span>
            <!-- for sign up page -->
            <span>
                <a href="/signup/user-signup">
                    <button type="button">Sign Up</button>
                </a>
            </span>
        <% } %>
    </div>
    
</header>