<li id="user-post-id-<%= post.id %>">
    <p>
        <%= post.content %> &nbsp;
        <!-- tag for deleting user's post -->
        <% if(locals.user && (locals.user.id == post.userInfo.id)) { %> 
            <a class="post-del-btn" href="/posts/delete-post/<%= post.id %>">
                <b>x</b>
            </a>
        <% } %>                        
        <br/>
        <small>
            <%= post.userInfo.first_name %>
            <%=  post.userInfo.last_name %>
        </small>
    </p>
    <% if(locals.user) { %>
    <div class="post-comments">
        <form action="/posts/comment" method="POST">
            <input type="text" name="content" placeholder="Comment here....">
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>
    </div>
    <% } %>

    <div class="comment-container">
        <ul class="comment-list">
            <% for (comment of post.comments) { %>
                <%- include('_comment') -%>
            <% } %>
        </ul>
    </div>
</li>