<!-- view for home page -->
    
    <h1>
        Welcome 
    </h1>

    <section id="user-friends">
        
        <% if(locals.user) { %> 
            <!-- friends list -->
            <h3>
                Friends
            </h3>
            <ul>
                <% for (let u of all_users){ %> 
                    <% if(locals.user.id == u.id) { %>
                        <!-- saving the local user object to be used later -->
                        <% var log_user = u %>
                        <% for(let friend of u.friends) { %>
                            <!-- if the user is sender of friend request -->
                            <% if(friend.sender._id == user.id) { %>
                            <li>                                
                                <a href="/user/profile/<%= friend.receiver.id %>"> 
                                    <!-- this will be changed if it works -->
                                    <%= friend.receiver.first_name %>
                                    <%= friend.receiver.last_name %>
                                </a>                                
                            </li> 
                            <!-- if the user is reciever of friend request -->
                            <% } else if(friend.receiver._id == user.id) { %>
                                <li>                                
                                    <a href="/user/profile/<%= friend.sender.id %>"> 
                                        <!-- this will be changed if it works -->
                                        <%= friend.sender.first_name %>
                                        <%= friend.sender.last_name %>
                                    </a>                                
                                </li> 
                            <% } %>
                        <% } %> 
                         
                    <% } %>     
                <% } %> 
            </ul>
            <% } %>

        
        <% if(locals.user) { %> 
        <!-- other user's list -->
        <h3>
            People you may know
        </h3>
        <ul>
            <% for (u of all_users){ %> 
                <% if(locals.user.id != u.id) { %>
                    <% let isFriend = 0 %>
                    <!-- checking whether the logged in user is friend of the other user -->
                    <% for(let friend of log_user.friends) { %>
                        <% if( (friend.sender.id == u.id) || (friend.receiver.id == u.id)) { %>
                            <% isFriend = 1 %>
                        <% } %>
                    <% } %>
                        
                        <% console.log("IS friend : ",isFriend) %>
                        <% if(isFriend == 0) { %>
                            <li>                                
                                <a href="/user/profile/<%= u.id %>"> 
                                    <%= u.first_name %>
                                    <%= u.last_name %>
                                </a>                                
                            </li> 
                        <% } %>

                <% } %>   
            <% } %> 
            <!-- <li>                                
                <a href="/user/profile/<%= u.id %>"> 
                    <%= u.first_name %>
                    <%= u.last_name %>
                </a>                                
            </li>  -->
        </ul>
        <% } %>
    </section>

    <!-- real time framework from server -->
    <!-- js library for socket.io for front-end -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/script/socket_chat_engine.js"></script>
    <% if(locals.user){ %>
        <script>
            new ChatEngine('engine-container', '<%= locals.user.email %>');
        </script>
    <% } %>
    
