<!-- this common layout will be included in all the views -->
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title> 
        <link rel="stylesheet" href="/css/layout.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <%- style %>
    </head>

    <body>
        <!-- including partial for header in the layout -->
        <%- include('_header'); %>

        <%- body %>

        <!-- including partial for footer in the layout -->
        <%- include('_footer'); %>

        <%- script %>
    </body>
    

</html>