<!-- view for profile page -->

<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/profilepage.css">

    <h1>
        Hi! I am <%= profile_user.first_name %>
    </h1>
    
    <h3>
        <%= profile_user.email %>
    </h3>

    <% if(user.id == profile_user.id) { %> 
    <section id="updation-form">
        <form action="/user/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
            <label for="first_name">Enter new first name</label>
            <input type="text" name="first_name" placeholder="new first name" value="<%= profile_user.first_name %>" required>
            <br/>
            <label for="last_name">Enter new last name</label>
            <input type="text" name="last_name" placeholder="new last name" value="<%= profile_user.last_name %>" required>
            <br/>
            <label for="email">Enter new email</label>
            <input type="text" name="email" placeholder="new email" value="<%= profile_user.email %>" required>
            <br/>
            <input type="file" id="avatar" name="avatar" placeholder="User's profile pic" />
            <img id="preview-img"/>
            
            <input type="submit" value="update"> 
        </form>
    </section>

    <% } else{ %> 
        <% for(friend in user.friends) { %> 
            <% if(friend == profile_user._id) { %> 
                <button type="button">
                    <a href='/friend/add' data-friend='' > friend </a>
                </button>
            <% } else { %>
                <button type="button">
                    <a href='/friend/remove' data-friend='' > Unfriend </a>
                </button>
            <% }%>
        <% } %>
    <% }%>

<script type="text/javascript" src="/script/preview.js"></script>